# Binaries and temporary files
[Dd]ebug/
[Rr]elease/
bin/
obj/
*.vs/  
*.suo
*.user

# NuGet packages and artifacts
.nuget/

# Rider and Visual Studio
*.sln.docstates
.DS_Store

appsettings.json
appsettings.Development.json

# Log files
*.log

# Generated content
wwwroot/dist/